@import url("https://fonts.cdnfonts.com/css/thegoodmonolith");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body, html {
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
    margin: 0;
    background: black;;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "TheGoodMonolith", monospace;
  color: white;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.section {
  height: 100vh;
  padding-top: var(--navbar-height);
  font-size: 2rem;
  /* scroll-snap-align: start; */
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; 
  width: 100vw;
}
