/* .project {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 3rem;
    text-align: center;
    overflow: hidden;
}

.section-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1;
}

.project-showcase {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.left-panel {
    width: 60%;
    height: 100%;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.right-panel {
    width: 40%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(20%);
}

.project-card {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.project-card img {
    width: 80%;
    height: auto;
    max-height: 60vh;
    object-fit: contain;
    transform: translateY(-20%);
}

.project-details {
    padding: 0 2rem;
}

.project-details .proj-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}

.project-details .proj-desc {
    font-size: 1.2rem;
    text-align: left;
}

.tech-stack {
    font-size: 1.3rem;
    text-align: left;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 1rem;
}

.icons img {
    width: 30px;
}

.fade {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 750px) {

    .project {
        margin: 0;
        text-align: left;
    }

    .project-showcase {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
} */

.project {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 3rem;
    overflow: hidden;
}

.project-showcase {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
    overflow: scroll;
    justify-content: space-between;
    position: relative;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.left-panel {
    width: 60%;
    height: 100%;
}

.right-panel {
    width: 40%;
    height: 100%;
    position: sticky;
    top: 0;
    right: 0;
}

.project-card {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.project-card img {
    height: 100%;
    width: 60%;
    object-fit: contain;
}

.project-details {
    text-align: left;
    padding: 3rem 0;
}

.project-details .proj-title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.project-details .proj-desc {
    font-size: 1.2rem;
    text-align: left;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 1rem;
}

.icons img {
    width: 30px;
}   
.fade {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.4s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 750px) {

    .project {
        margin: 1rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .project-showcase {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
    }

    .left-panel {
        width: 100%;
        height: 50%;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .right-panel {
        width: 100%;
        height: 50%;
        position: sticky;
        top: 0;
        
    }

    .project-card {
        display: flex;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
    }

    .project-card img {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
    }

    .project-details {
        text-align: left;
        padding: 0;
    }

    .project-details .proj-title {
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .project-details .proj-desc {
        font-size: 0.6rem;
        text-align: left;
        
    }

}